<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">

	<!-- Define targets -->
	<targets>
		<!-- Write logs to file -->
		<target xsi:type="File" name="fileLogger" fileName="logs/logfile.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
	</targets>

	<!-- Define rules -->
	<rules>
		<!-- Log all levels to file -->
		<logger name="*" minlevel="Error" writeTo="fileLogger" />
	</rules>
</nlog>
